[Desktop Entry]
Categories=Game;Utility;
Comment=Browser-based game streaming host
Exec=bash -c 'cd "$(dirname "%k")" && ./bin/start.cmd'
Icon=./assets/NearsecTogetherLogo.png
Name=NearsecTogether
Path=
StartupNotify=true
Terminal=false
Type=Application
