<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Nearcade Sidecapture needs camera access to capture video devices.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Nearcade Sidecapture needs microphone access to capture audio devices.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Nearcade Sidecapture needs local network access to discover Android devices for wireless ADB.</string>
</dict>
</plist>
